<mat-card>
    <mat-card-header>
        <h1>User Login</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Clave</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary">Entrar</button>
                <a routerLink="/login" mat-raised-button color="accent">Nuevo Usuario</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>